/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.header {
  height: 12rem;
  position: relative;
  background-color: black;
  z-index: 10;
  color: white;
  padding-top: 2rem;
  font-family: 'Bowlby One SC', cursive;
  font-size: 6rem;
}

.show-nav {
  background-color: black;
  padding: 1rem;
  height: 4rem;
}

.navbutton {
  margin-right: 95%;
  width: 3rem;
  height: 3rem;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png');
  background-position: center;
  background-size: 100%;
  border: none;
}

.navbar {
  width: 10rem;
  background-color: darkblue;
  height: 12rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Changa', sans-serif;
  font-size: 1.2rem;
  position: absolute;
  overflow-y: hidden;
  z-index: 2;
  transform: translate(0, 0);
  transition: 0.5s;
}

.slide {
  transform: translate(0, -100%);
  transition: 0.5s;
}

li {
  margin: 1rem;
  text-decoration: none;
}

.logout-button {
  font-family: 'Changa', sans-serif;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
  margin-left: 80rem;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Sarabun', sans-serif;
  margin-top: 1%;
}

.user-photo {
  font-family: 'Sarabun', sans-serif;
  display: flex;
  flex-direction: column;
  width: 18%;
}

.no-photo, .has-photo {
  width: 50%;
  height: auto;
  margin: 1%;
  align-self: center;
  border: solid 0.3rem black;
}

.welcome {
  font-family: 'Sarabun', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 1%;
}

.dashboard-prompt {
  margin-top: 20%;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.2rem;
}

.followers {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.followers p {
  margin: 1%;
}

.followers h4 {
  font-weight: bold;
}

.separator {
  font-weight: bold;
}

.add-photo {
  border: none;
  color: blue;
  font-size: 1rem;
}

.new-race {
  margin: 5%;
}

.prompt-first {
  margin-top: 1rem;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(71, 194, 235);
}

.prompt {
  margin-top: 0.5rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
}

.prompt-auth {
  margin-top: 2rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.2rem;
}

.login-page-div {
  display: flex;
  justify-content: center;
}

.login-page-div div {
  width: 50%
}

.login-page-div li {
  font-family: 'Sarabun', sans-serif;
}

.login, .signup {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border: solid black 0.1rem;
  width: 30rem;
  height: 20rem;
  font-family: 'Sarabun', sans-serif;
  background-color: lightblue;
}

.login-input, .signup-input {
  width: 24rem;
  height: 2rem;
  margin: 1%;
  margin-top: 1.5%;
  font-size: 1.5rem;
  font-family: 'Sarabun', sans-serif;
}

.login-button {
  border: none;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  margin-top: 30%;
  background-color: transparent;
}

.signup-button {
  border: none;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  background-color: transparent;
}

.form-button {
  border: none;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
  background-color: transparent;
}

.race-button {
  height: 9rem;
  width: 9rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.2rem;
  border: solid black 0.2rem;
  margin: 1rem;
}

.submit-race {
  height: 10rem;
  width: 10rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 2rem;
  align-self: center;
}

.submit-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.race-name-input {
  width: 30%;
  height: 1.5rem;
  align-self: center;
  font-size: 1rem;
  margin: 1%;
}

/* .race-option, .another-race {
  width: 10rem;
  margin-top: 1%;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent
} */

.race-option, .another-race{
  border: none;
  font-family: 'Sarabun', sans-serif;
  color: blue;
  font-size: 1.5rem;
  margin: 1%;
}

.race-name {
  font-weight: bold;
}

.user-race-div {
  height: 50%;
  margin: 1%;
  width: 25rem;
  overflow-y: auto;
}

.completed-race {
  border: solid black;
  background-color: lightblue;
}

.today {
  width: 100%;
  align-content: center;
}

.race {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.race h1 {
  font-family: 'Sarabun', sans-serif;
  font-size: 2rem;
  margin: 1%;
}

.week {
  display: flex;
  justify-self: center;
  font-family: 'Sarabun', sans-serif;
}

.space {
  width: 5rem;
  border: solid black;
  font-weight: bold;
}

.dayname {
  width: 7rem;
  height: 1.2rem;
  border: solid black;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
}

.day {
  border: solid black;
  align-content: center;
  height: 3rem;
  width: 7rem;
}

.completed {
  background-image: url('https://www.freeiconspng.com/uploads/checkmark-symbol-png-background-12.png');
  background-position: center;
  background-size: 20% 75%;
  background-repeat: no-repeat;
  /* background-color: lightgreen; */
}

.checkmark {
  height: 1rem;
  width: 1rem;
}

.complete-button {
  font-size: 1.5rem;
  border: none;
  color: blue;
  margin-bottom: 2%;
}

.goback {
  font-family: 'Sarabun', sans-serif;
  margin-left: 93%;
  font-weight: bold;
}

.dayshow {
  font-family: 'Sarabun', sans-serif;
  display: flex;
  justify-content: center;
}

.dayinfo {
  margin: 3rem;
  height: 25rem;
  width: 30rem;
}

.dayshow h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.completed-workout {
  color: green;
}

.dayshow h1 {
  font-size: 1.5rem;
}

.add-workout {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-workout input {
  width: 75%;
  height: 2rem;
  margin: 0.5rem;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
}

.friends, .friend {
  display: flex;
  justify-content: center;
  font-family: 'Sarabun', sans-serif;
}

.all-users, .following-followers {
  width: 30rem;
  margin: 1%;
}

.showfollowers {
  border: solid black;
  height: 13rem;
  margin-top: 1rem;
  overflow-y: auto;
  background-color: lightblue
}

.showusers {
  border: solid black;
  margin-top: 1rem;
  height: 27.4rem;
  background-color: lightblue;
  overflow-y: auto;
}

.followers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%;
}

.friend-icon {
  width: 7em;
  height: auto;
  margin: 0.8%;
}

.follow-icon {
  width: 9em;
  height: auto;
  margin: 1%;
}

.view-profile, .follow-button, .unfollow-button {
  background-color: transparent;
}

.friends h1 {
  font-weight: bold;
  font-size: 2rem;
}

.friends p {
  font-size: 0.8rem;
}

.friends p button {
  height: max-content;
  border: none;
  font-size: 0.7rem;
  color: blue;
  align-self: center;
}

.friend-photo {
  height: 7rem;
  width: 7rem;
  border: solid black 0.1rem;
}

.friend {
  display: flex;
}

.friend h2 {
  font-size: 1.5rem;
}

.friend p {
  font-weight: bold;
  font-size: 1.5rem;
}

.friend button, .back {
  border: none;
  font-size: 1rem;
  color: blue;
}

.back {
  margin-right: 65%;
}

.friend-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .friend-profile div {
  margin: 5%;
} */

.friend-profile img {
  height: auto;
  width: 10%;
  align-self: center;
}

.friend-schedule {
  width: auto;
  height: auto;
  align-self: center;
  margin-top:1%;
}

.friend-race {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-race {
  margin: 0;
  height: auto;
  width: auto;
}

.user-week {
  display: flex;
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  height: max-content;
}

.user-week .dayname {
  margin: 0;
}

.dayname-space {
  width: 6rem;
  height: 1.2rem;
  border: solid black;
}

.user-week .day{
  margin: 0;
}

.user-space {
  margin: 0;
  width: 6rem;
  height: 3rem;
  border: solid black;
  font-weight: bold;
}